<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.sceneview.sceneview_flutter">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
      android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-feature android:name="android.hardware.camera.ar" />
  <uses-feature
      android:name="android.hardware.camera.autofocus"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.camera"
      android:required="true" />
</manifest>
